/* General Styles for the Body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
}

/* Container Style */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Question Style */
#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
    color: #FB607F;
    margin-bottom: 30px;
}

/* Button Styles */
button {
    padding: 15px 30px;
    margin: 10px 20px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #FF77A9;
    transform: scale(1.1);
}

/* "Thank You" Message Styling */
#thank-you-message {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    color: #ffffff;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style for Image Container */
#image-container {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide the options section when not needed */
#options {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#options button {
    margin: 10px;
}
